[Bb]in/
[Oo]bj/
*.db
*.db-journal
*.db-wal
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
out/
publish/
logs/
codereview.md
codereview2.md
TestResults/
coveragereport/
BitcoinTracker.zip
BitcoinTracker.db-shm
*.pdf
home/
Zadani.md
.env
